<h1>Fond Reports</h1>

<%=
  form_for :fond_report, routes.path(:fond_report), enctype: 'multipart/form-data' do
    div do
      label :source
      file_field :source
    end
    div do
      label :report
      file_field :report
    end

    submit 'Create'
  end
%>
